@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap");
body {
  background-color: white !important;
}

.pages {
  margin: 1rem 0;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pages :global(.MuiAppBar-root) {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.pages :global(.MuiAppBar-root) .profilePicture {
  margin: 0 0 0 auto;
}

.pages :global(.MuiAppBar-root) .profilePicture img {
  width: 2.5rem;
  border-radius: 1.75rem;
}

.pages .mainarea {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin-bottom: 4rem;
}

.pages .mainarea .tableHeading {
  margin: 5rem auto 3rem;
}

.pages .mainarea :global(.MuiPaper-elevation1) {
  -webkit-transition: -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  overflow: hidden;
  -webkit-box-shadow: rgba(145, 158, 171, 0.24) 0px 0px 2px 0px, rgba(145, 158, 171, 0.24) 0px 16px 32px -4px;
          box-shadow: rgba(145, 158, 171, 0.24) 0px 0px 2px 0px, rgba(145, 158, 171, 0.24) 0px 16px 32px -4px;
  border-radius: 16px;
}

.pages .mainarea :global(.MuiTableRow-head) {
  background-color: #f4f6f8;
}

.pages .mainarea :global(.tableCell) img {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  border-radius: 1.5rem;
}

.pages .mainarea :global(.MuiFab-root) {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.pages .mainarea .extensibleInput {
  width: 15rem;
  -webkit-transition: width 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: width 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, width 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, width 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.pages .mainarea .extensibleInput :global(.Mui-focused) {
  width: 20rem;
  -webkit-transition: width 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: width 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, width 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, width 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-box-shadow: 0 8px 16px 0 rgba(145, 158, 171, 0.24);
          box-shadow: 0 8px 16px 0 rgba(145, 158, 171, 0.24);
}

.pages .mainarea .extensibleInput :global(.Mui-focused) :global(.MuiOutlinedInput-notchedOutline) {
  border-color: rgba(0, 0, 0, 0.23);
  border-width: 1px;
}

.pages .mainarea .tabletoolbar {
  height: 6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pages .mainarea .marginatedForms {
  margin: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pages .mainarea .marginatedForms button {
  margin: 0.5rem 0 1rem auto;
}

.loginBody .loginPage {
  height: 100%;
}

.loginBody .loginPage :global(.MuiGrid-container) {
  height: 100%;
}

.loginBody .loginPage .right {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1rem;
}

.loginBody .loginPage .right a {
  color: #2196f3;
}

.loginBody .loginPage .loginBox {
  width: 40%;
  margin: 0rem auto;
  color: #212b36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.loginBody .loginPage .loginBox a {
  color: #2196f3;
}

.loginBody .loginPage .loginBox .headingLogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginBody .loginPage .loginBox :global(.MuiFormControl-root) {
  width: 100%;
}

.loginBody .loginPage .loginBox :global(.MuiCheckbox-root.Mui-checked) {
  color: #2196f3;
}

.loginBody .loginPage .loginBox :global(.MuiTypography-h3) {
  margin: 0px 0px 8px;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
}

.loginBody .loginPage .loginBox :global(.MuiTypography-body1) {
  color: #637381;
}

.loginBody .loginPage .loginBox .separatorLine {
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.loginBody .loginPage .loginBox .separatorLine::before {
  position: absolute;
  content: ' ';
  height: 50%;
  width: 45%;
  left: 0;
  top: 0;
  z-index: -1;
  border-bottom: thin solid rgba(145, 158, 171, 0.24);
}

.loginBody .loginPage .loginBox .separatorLine::after {
  position: absolute;
  content: ' ';
  height: 50%;
  width: 45%;
  left: auto;
  right: 0;
  top: 0;
  z-index: -1;
  border-bottom: thin solid rgba(145, 158, 171, 0.24);
}

.loginBody .loginPage .loginBox .flexLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

.loginBody .loginPage .loginBox button {
  margin: 1rem;
  padding: 0.5rem 3rem;
  background-color: #2196f3;
  color: #ffffff;
}

.registerBody .loginPage {
  height: 100%;
}

.registerBody .loginPage :global(.MuiGrid-container) {
  height: 100%;
}

.registerBody .loginPage .right {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1rem;
}

.registerBody .loginPage .right a {
  color: #2196f3;
}

.registerBody .loginPage .registerBox {
  width: 40%;
  margin: 0rem auto;
  color: #212b36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.registerBody .loginPage .registerBox .headingRegister {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registerBody .loginPage .registerBox :global(.MuiTypography-h3) {
  margin: 0px 0px 8px;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
}

.registerBody .loginPage .registerBox :global(.MuiTypography-body1) {
  color: #637381;
}

.registerBody .loginPage .registerBox :global(.MuiSvgIcon-root) {
  color: #2196f3;
}

.registerBody .loginPage .registerBox .separatorLine {
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.registerBody .loginPage .registerBox .separatorLine::before {
  position: absolute;
  content: ' ';
  height: 50%;
  width: 45%;
  left: 0;
  top: 0;
  z-index: -1;
  border-bottom: thin solid rgba(145, 158, 171, 0.24);
}

.registerBody .loginPage .registerBox .separatorLine::after {
  position: absolute;
  content: ' ';
  height: 50%;
  width: 45%;
  left: auto;
  right: 0;
  top: 0;
  z-index: -1;
  border-bottom: thin solid rgba(145, 158, 171, 0.24);
}

.registerBody .loginPage .registerBox .flexLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

.registerBody .loginPage .registerBox button {
  margin: 1rem;
  padding: 0.5rem 3rem;
  background-color: #2196f3;
  color: #ffffff;
}

.retrieveBody .loginPage {
  height: 100%;
}

.retrieveBody .loginPage .regulatedWidth {
  width: 70%;
  margin: 1rem auto;
  color: #212b36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.retrieveBody .loginPage .regulatedWidth :global(.MuiGrid-container) {
  height: 100%;
}

.retrieveBody .loginPage .regulatedWidth a {
  color: #2196f3;
}

.retrieveBody .loginPage .regulatedWidth :global(.MuiTypography-h3) {
  margin: 0px 0px 8px;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
}

.retrieveBody .loginPage .regulatedWidth :global(.MuiTypography-body1) {
  color: #637381;
  text-align: center;
  width: 50%;
}

.retrieveBody .loginPage .regulatedWidth :global(.MuiFormControl-root) {
  width: 60%;
}

.retrieveBody .loginPage .regulatedWidth button {
  margin: 1rem;
  padding: 0.5rem 3rem;
  background-color: #2196f3;
  color: #ffffff;
}

.menuProfileDetails {
  border-bottom: 1px solid #e0e0e0;
  padding: 1rem 0.5rem;
  font-size: 0.8rem;
  color: gray;
}

.fileuploadprofile {
  margin: 0 auto;
}

.fileuploadprofile > div:first-child {
  max-height: unset;
  padding: 0.5rem;
  border: 1px dotted rgba(0, 0, 0, 0.23);
  border-radius: 50%;
}

.fileuploadprofile > div:first-child > img {
  max-height: unset;
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
}

.fileuploadprofile :global(.MuiFormLabel-root) {
  display: none;
}

.fileuploadprofile :global(.MuiInputBase-root)::before, .fileuploadprofile :global(.MuiInputBase-root)::after {
  content: none;
}

.fileuploadprofile :global(.MuiFormControl-fullWidth) {
  width: 8rem;
  height: 8rem;
  margin-left: -9rem;
}

.fileuploadprofile :global(.MuiInputBase-input) {
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.fileuploadprofile :global(.MuiIconButton-root) {
  width: 8rem;
  height: 8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: -1rem;
  left: 1px;
  right: unset;
  display: none;
}

.fileuploadprofile :global(.MuiIconButton-label) {
  height: 100%;
}

.fileuploadprofile:hover img {
  -webkit-transition: all linear 300ms;
  transition: all linear 300ms;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.fileuploadprofile:hover :global(.MuiIconButton-root) {
  display: block;
}

.fourhundred {
  height: 400px;
}

.padded {
  padding: 1rem;
}

.heroImage {
  width: 100%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 38rem;
}

.heroImage .heroDarkArea {
  padding: 4.5rem;
  background-color: #0d1d2a;
}

.heroImage .heroDarkArea h1 {
  color: #e1ad62;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 114.8%;
  margin: 0;
}

.heroImage .heroDarkArea h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 132.8%;
  color: #ffffff;
  margin-top: 2rem;
}

.productCardContent .productCardContentDiscount {
  color: white;
  background-color: red;
  font-weight: 600;
  float: right;
  border-radius: 10px;
  padding: 3px;
  margin: 0px 5px;
}

.productCardContent .productCardContentPrice {
  color: red;
  font-weight: 600;
  float: right;
  padding: 3px;
  margin: 0px 5px;
}

.productCardContent .productCardContentPriceCrossedOut {
  color: gray;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  font-weight: 600;
  float: right;
  padding: 3px;
  margin: 0px 5px;
}

.productCardContent div {
  color: gray;
  font-weight: 400;
}
/*# sourceMappingURL=minimum.module.css.map */